            h1{
                color:white;
                
            }
            /* *{
                border: solid;
            }*/
            .header{
                background-color: #300087;
                display :flex;
                justify-content: space-between;
                font-synthesis: #369854;
            }
            
            site-description{
                display: flex;
                flex-direction: row;
            }
            .grid{
                display :flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .footer{
                display :flex;
                justify-content: flex-end;
            }
            p,h2{
                text-align: center;

            }
            body{
                background-color: #808080;
            }